@import '../../sass/mixin.scss';
.citem{
    height: sss($n : 123);
    display:flex;
    justify-content:space-between;
    padding:sss($n :15);
    align-items:center;
    position:relative;
    overflow:hidden;
    :nth-child(1){
        .imgxx{
            background:url(../../assets/img/citem1.png) no-repeat;
            background-size: 100%;
            height: sss($n : 25);
            width:sss($n : 25);
        }
        .imgxy{
            background:url(../../assets/img/citem2.png) no-repeat;
            background-size: 100%;
            height: sss($n : 25);
            width:sss($n : 25);
        }
        img{
            height: sss($n : 25);
            width:sss($n : 25);
            
        }
    }
    :nth-child(2){
        img{
            height:sss($n : 77);
            width:sss($n : 77);
        }
    }
    :nth-child(3){
        p{
            color: #222;
            font-size:sss($n : 12);
            width:sss($n : 160);
            margin:0;
        }
        :nth-child(1){
            margin-top:sss($n :-20);
        }
        :nth-child(2){
            margin-top:sss($n :10);
        }
        :nth-child(3){
            margin-top:sss($n :10);
            color: #fe4310;
            font-size: sss($n :15);
            font-weight: bold;
        }
    }
}
.shanchu{
    display:none;
}
.shanchu1{
    display:block;
}